.navbar-nav {
	width: 100%
}
#food{
    background-image: url("img/food.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.txt{
    color: white;
    font-weight:500 !important; 
}
#f-txt{
    position: relative;
    top:20%
}
.b-txt{
    font-size: 25px !important;
}
.foot{
    background: black
}
